{{ ansible_managed | comment}}

[Unit]
Description=Prometheus 389ds_exporter
After=network-online.target
StartLimitInterval=0

[Service]
Type=simple
User={{ ldap_389ds_exporter_system_user }}
Group={{ ldap_389ds_exporter_system_group }}
ExecStart=/usr/local/bin/389ds_exporter \
{%if ldap_389ds_config_file is defined %}
  --config {{ ldap_389ds_config_file }}
{% else %}
  --ipa-domain="{{ ldap_389ds_ipa_domain }}" \
  --ldap.addr="{{ ldap_389ds_scrape_address }}" \
  --ldap.user='{{ ldap_389ds_user }}' \
  --ldap.pass='{{ ldap_389ds_password }}' \
  --interval="{{ ldap_389ds_scrape_interval }}" \
  --web.listen-address={{ ldap_389ds_exporter_web_listen_address }}{% for flag, flag_value in ldap_389ds_config_flags_extra.items() %}\
  --{{ flag }}{% if flag_value %}={{ flag_value }}{% endif %} {% endfor %}
{% endif %}

PrivateTmp=true
PrivateDevices=true
ProtectHome=true
NoNewPrivileges=true
{% if ldap_389ds_exporter_systemd_version.stdout | int >= 232 %}
ProtectSystem=strict
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true
{% else %}
ProtectSystem=full
{% endif %}

{% if http_proxy is defined %}
Environment="HTTP_PROXY={{ http_proxy }}"{% if https_proxy is defined %} "HTTPS_PROXY={{ https_proxy }}{% endif %}"
{% endif %}

SyslogIdentifier=389ds_exporter
Restart=always
RestartSec=0

[Install]
WantedBy=multi-user.target
