---
ipa-domain: '{{ ldap_389ds_ipa_domain }}'
ldap.addr: '{{ ldap_389ds_scrape_address }}'
ldap.user: '{{ ldap_389ds_user }}'
ldap.pass: '{{ ldap_389ds_password }}'
interval: '{{ ldap_389ds_config_file }}'
web.listen-address: {{ ldap_389ds_exporter_web_listen_address }}
